// .jumbotron {
//   width: 1920px;
//   height: 650px;
// }
.jumbotron {
  &--bg {
    background: url("http://via.placeholder.com/1920x650") no-repeat center;
    background-size: cover;
    min-height: 400px;
  }
  &--v-center {
    display: flex;
    align-items: center;
  }
}
